[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/supertab-continued"]
	path = vim/bundle/supertab-continued
	url = git://github.com/vim-scripts/SuperTab-continued..git
	ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
