[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/supertab-continued"]
	path = vim/bundle/supertab-continued
	url = git://github.com/vim-scripts/SuperTab-continued..git
	ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = git://github.com/vim-scripts/a.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
	ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
	ignore = dirty
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
	ignore = dirty
